{% extends 'student/base.html' %}
{% load static %}

{% block content %}
<div class="mdk-header-layout__content">
    <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page ">
            <div class="container-fluid page__container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active"><a href="{% url 'stcourse' %}">Courses</a></li>
                </ol>
                <div class="d-flex flex-column flex-sm-row flex-wrap mb-headings align-items-start align-items-sm-center">
                    <div class="flex mb-2 mb-sm-0">
                        <h1 class="h2">Courses</h1>
                    </div>
                </div>
                <div class="card card-body border-left-3 border-left-primary navbar-shadow mb-4 shadow-lg bg-white rounded">
                    <form action="{% url 'stcourse' %}" method="GET"> 
                    <div class="d-flex flex-wrap2 align-items-center mb-headings">
                            <div class="btn btn-white">
                                <i class="material-icons mr-sm-2">tune</i> 
                                <span class="d-none d-sm-block">Filters</span>
                            </div>
                            <div class="flex search-form ml-3 search-form--light">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search courses"
                                       name="search">
                                <button class="btn"
                                        type="button"
                                        role="button"><i class="material-icons">search</i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    {% for ce in course %}
                    {% for c in ce %}
                    <div class="col-md-6">
                        <div class="card shadow-lg bg-white rounded">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-sm-row">
                                    <a href="{% url 'listlesson' c.id %}"
                                       class="avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                        <img src="{% static 'images/course.png' %}"
                                             alt="Card image cap"
                                             class="avatar-img rounded avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                    </a>
                                    <div class="flex"
                                     style="min-width: 200px;">
                                        <h4 class="card-title mb-1"><a href="{% url 'listlesson' c.id %}">{{ c.title }}</a></h4>
                                        <p class="text-black-70">{{ c.desc }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}

                    {% if nonenroll is not None %}
                    {% for c in nonenroll %}
                    <div class="col-md-6">
                        <div class="card shadow-lg bg-white rounded">
                            <div class="card-body">
                                <div class="d-flex flex-column flex-sm-row">
                                        <img src="{% static 'images/course.png' %}"
                                             alt="Card image cap"
                                             class="avatar-img rounded avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                    <div class="flex"
                                         style="min-width: 200px;">
                                        <h4 class="card-title mb-1">{{ c.title }}<a href="{% url 'listlesson' c.id %}" class="btn btn-primary float-right"><span class="d-none d-sm-block">Enroll Now</span></a> </h4>
                                        <p class="text-black-70">{{ c.desc }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    {% for c in cr %}
                    <div class="col-md-6">
                        <div class="card shadow-lg bg-white rounded">
                            <div class="card-body">
                                {% if enroll %}
                                <div class="d-flex flex-column flex-sm-row">
                                    <a href="{% url 'listlesson' c.id %}"
                                       class="avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                        <img src="{% static 'images/course.png' %}"
                                             alt="Card image cap"
                                             class="avatar-img rounded avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                    </a>
                                    <div class="flex"
                                     style="min-width: 200px;">
                                        <h4 class="card-title mb-1"><a href="{% url 'listlesson' c.id %}">{{ c.title }}</a></h4>
                                        <p class="text-black-70">{{ c.desc }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="d-flex flex-column flex-sm-row">
                                    <img src="{% static 'images/course.png' %}"
                                         alt="Card image cap"
                                         class="avatar-img rounded avatar avatar-lg avatar-4by3 mb-3 w-xs-plus-down-100 mr-sm-3">
                                    <div class="flex"
                                         style="min-width: 200px;">
                                        <h4 class="card-title mb-1">{{ c.title }}<a href="{% url 'listlesson' c.id %}" class="btn btn-primary float-right"><span class="d-none d-sm-block">Enroll Now</span></a> </h4>
                                        <p class="text-black-70">{{ c.desc }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}